.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  width: fit-content;

  .label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: $darkAccent;
    cursor: pointer;
  }

  .input {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-background-base);
    border-radius: 8px;
    outline: none;
    cursor: pointer;

    &:hover {
      border: 1px solid $darkAccent;
    }

    &:checked {
      background-color: $darkAccent;
      border: 1px solid $darkAccent;
      position: relative;

      &::before {
        content: '✓';
        font-size: 1.5em;
        color: var(--color-background-accent);
        position: absolute;
        right: 1px;
      }
    }
  }
}
