.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-text-base);
  padding: 15px;
  border-radius: 10px;
  color: var(--color-background-accent);

  &__title {
    font-size: 18px;
    margin: 0;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}