@import '_reset.scss';
@import '_variables.scss';
@import '_cursor-mixins.scss';
@import '_themes.scss';

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
  font-weight: bold;
}

a {
  cursor: pointer;
  color: currentColor;
}

path {
  fill: currentColor;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #ffffff;

  /* Chrome, Edge and Safari */
  &::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-track:active {
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #c1c1c1;
    border: 2px solid #fff;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #c1c1c1;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #c1c1c1;
  }
}
