.button {
  width: 100%;
  height: 40px;
  padding: 13px;
  background-color: var(--color-background-accent);
  border: 1px solid var(--color-background-accent);
  color: var(--color-text-accent);
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    background-color: var(--color-background-base);
    border: 1px solid var(--color-background-base);
    color: var(--color-text-base);
  }

  &.small {
    width: 40px;
    padding: 0;
  }

  &.auto {
    width: auto;
  }

  &.center {
    justify-content: center;
  }

  &.danger {
    color: var(--color-red) !important;
  }

  &.outline {
    background-color: transparent;
    color: var(--color-background-accent);
    border: 1px solid var(--color-text-contrast);

    &:hover {
      border: 1px solid var(--color-background-base);
    }
  }

  &.transparent {
    background-color: transparent;
    color: var(--color-background-accent);
    border: 1px solid transparent;
  }

  &:disabled {
    background-color: var(--color-text-accent);
    color: var(--color-background-base);
    border: 1px solid var(--color-text-accent);
    cursor: not-allowed !important;
  }
}
