.collection_list {
  list-style: none;
  border-left: 2px solid var(--color-background-accent);
  height: 100%;
  overflow: scroll;

  .item {
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    margin: 18px 0;
    padding-left: 10px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.selected {
      font-size: 12px;
      font-weight: bold;
      color: $baseOrange;
    }
  }
}