.main {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;

  .container {
    background-color: var(--color-text-accent);
    width: 100%;
    margin: 10px 10px 10px 0;
    padding: 10px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
